<div data-role="page" data-theme="c" id="details-page">
	<header data-role=header><h1>Welcome to 504 Healthnet Provider Finder</h1></header>
	<div data-role="content">
		<div class="clinic-details-header">
			<p data-bindField=Agency></p>
			<p data-bindField=Address></p>
			<p data-bindField=City></p>
			<p data-bindField=State></p>
		</div>
	</div>
</div>