<div data-role="page" data-theme="c" id="details-page">
<div data-role="header">
	<h1>Provider Details</h1>
</div>

<div data-role="content">

	<div id='providerDet' class='panel' title='Provider Details'>
		<div class='row' style='text-align:center' label='options'>
			<h2>St. Charles Community Health Center</h2>
			<p>Please call to make an appointment or ask about available services.</p>
			<a href="tel:9857259330" data-role="button">Call (985) 725-9330</a>
			<a href="sms:9857259330" data-role="button">Share via text message</a>
		</div>
	</div>

	<div data-role="collapsible-set">

		<div data-role="collapsible" data-collapsed="false">
			<h3>Health Services</h3>
			<p>Adult & Pediatric Primary Care, Labs, Pregnancy Care, Women's Health, Family Planning, Podiatry, Dental, Psychiatry, Counseling, Individual, Group & Family Therapy, Substance Abuse</p>
		</div>
			
		<div data-role="collapsible" data-collapsed="true">
			<h3>Social Services</h3>
			<p>WIC, Transportation, House Calls, Healthy Start, Medicaid Enrollment</p>
		</div>

		<div data-role="collapsible" data-collapsed="true">
			<h3>Additional Services</h3>
			<p>Nutritional counseling, Health education</p>
		</div>	

		<div data-role="collapsible" data-collapsed="true">
			<h3>Hours & Location</h3>
			<p>Monday: 8:00AM-7:00PM<br/>Tuesday-Thursday: 8:00AM-4:30PM<br />Friday: 8:00AM-12:00PM</p>
		</div>

	</div>

</div>
<div style=text-align:center data-role="footer">
	<p style=font-size:8pt >504 HealthNet Care Finder</p>
</div>

</div>