<div data-role="page" data-theme="b" id="results-page">
<div data-role="header">
	<h1>Search Results</h1>
</div>
<div data-role="content">
	<div class="content-primary">
	<ul data-role="listview">
		<li>
			<h3>St. Charles Community Health Center</h3>
			<p><strong>n miles from entered address</strong></p>
		</li>

		<li>
			<h3>PACE Greater New Orleans</h3>
			<p><strong>n miles from entered address</strong></p>
		</li>
	</ul>

	</div>
</div>
<div style=text-align:center data-role="footer">
	<p style=font-size:8pt >504 HealthNet Care Finder</p>
</div>

</div>