<div data-role="page" data-theme="c" id="index-page">
	<header data-role=header><h1>Welcome to 504 Healthnet Provider Finder</h1></header>
	<div data-role="content">
		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup">
				<legend>What Help?</legend>
				<input type=checkbox name=physical id="physical" /><label for=physical>Physical</label>
				<input type=checkbox name=mental id="mental" /><label for=mental>Mental</label>
				<input type=checkbox name=dental id="dental" /><label for=dental>Dental</label>
			<fieldset>
		</div>

		<p><a href="#details-page" data-role="button">Show Details for a clinic</a></p>
	</div>
</div>

<%= render :partial => 'details_page' %>