<div data-role="page" data-theme="b" id="details-page">
	<div data-role="header">
		<h1>Provider Details</h1>
	</div>

	<div data-role="content">

		<div class='provider-details' class='panel' title='Provider Details'>
			<div class='row' style='text-align:center' label='options'>
				<h2 data-bindTo='Agency'></h2>
				<p data-bindTo='Types of Insurance Accepted (Private, Medicaid, Uninsured)'></p>
				<p>Please call to make an appointment or ask about available services.</p>
				<a class="provider-Phone-link" href="" data-role="button">Call <span data-bindTo="Phone"></span></a>
			</div>
		</div>

		<div data-role="collapsible-set">

			<div data-role="collapsible" data-collapsed="false">
				<h3>Health Services</h3>
				<p data-bindTo='Medical Services - Expanded'></p>
			</div>
			
			<div data-role="collapsible" data-collapsed="true">
				<h3>Social Services</h3>
				<p data-bindTo='Social Services'></p>
			</div>

			<div data-role="collapsible" data-collapsed="true">
				<h3>Additional Services</h3>
				<p data-bindTo="Additional Health Services"></p>
			</div>	

			<div data-role="collapsible" data-collapsed="true">
				<h3>Hours &amp; Location</h3>
      
				<p>
					<a href="#" class="link-to-loc">
						<span data-bindTo='Address'></span>&nbsp;-&nbsp;<span data-bindTo='City'></span>, <span data-bindTo='State'></span>&nbsp;&nbsp;<span data-bindTo='Zip Code'></span>
					</a>
				</p>
				<p data-bindTo='Hours'></p>
			</div>
		</div>
	</div>
	<%= render :partial => 'shared/footer' %>
</div>
