<div data-role="page" data-theme="b" id="results-page">
	<div data-role="header">
		<h1>Search Results</h1>
	</div>
	<div data-role="content">
		<div class="content-primary">
			<li style="display: none" id="item-template">
				<h3 data-bindTo="Agency"></h3>
				<p class="distance-display" style="display: none"><strong><span class="distance">n</span> from entered address</strong></p>
			</li>
			<ul class="results-list" data-role="listview">

			</ul>
		</div>
	</div>
	<%= render :partial => 'shared/footer' %>
</div>
